@import "../../../../styles/util";
@import "../../../../styles/form";

$gutter    : mm(5);
$main-width: 100%;

.edit-sponsor {
    @include basic-form;

    max-width: 50em;

    .form-buttons {
        display        : flex;
        justify-content: space-between;
        margin         : mm(3) 0;
    }
}