@import "../../../styles/util.scss";
@import "../../../styles/form.scss";

$gutter     : 0;
$main-width : mm(150);

.register-form {
    display       : flex;
    align-items   : center;
    flex-direction: column;
    padding       : 1em 1em;

    @include basic-form;

    p {
        margin: 1em 0;
    }

    .sign-in {
        display: inline-block;
    }
}