.message-list {
    width     : 100%;
    height    : 100%;
    overflow-x: hidden;
    overflow-y: auto;

    display       : flex;
    flex-direction: column-reverse;

    .message {
        width: 100%;

        h1,
        h2,
        h3 {
            font-size  : 105%;
            font-weight: bold;
        }

        h4,
        h5,
        h6 {
            font-size  : 90%;
            font-weight: bold;
        }
    }

    .start-of-chat {
        text-align: center;
        font-style: italic;
        font-size : 90%;
    }
}
