@import "../../../styles/util.scss";

.message-list {
    width     : 100%;
    height    : 100%;
    overflow-x: hidden;
    overflow-y: auto;

    display       : flex;
    flex-direction: column-reverse;
    position      : relative;

    .start-of-chat {
        text-align: center;
        font-style: italic;
        font-size : 90%;
    }
}
