@import "../../../styles/util.scss";

.message-list {
    width     : 100%;
    height    : 100%;
    overflow-x: hidden;
    overflow-y: auto;

    display       : flex;
    flex-direction: column-reverse;
    position      : relative;

    .infinite-scroll-component__outerdiv {
        height: 100%;
        .infinite-scroll-component  {
            min-height: 100%;
        }
    }

    .message {
        width: 100%;

        display       : flex;
        flex-direction: row;

        margin: 1em 0 1em 0;

        .profile {
            width     : 50px;
            min-width : 50px;
            max-width : 50px;
            margin    : 0 1em 0 0;
            text-align: center;

            img {
                display: inline-block;
                width  : 100%;
            }

            .flair-chip {
                display: inline-block;
                margin : 0.3em 0.2em;
            }
        }

        .content {
            width                : 100%;
            display              : grid;
            grid-template-columns: min-content auto auto;
            grid-template-rows   : auto auto auto;
            grid-template-areas  :
                "time name ."
                "body body body"
                "reactions reactions reactions";

            .name {
                display    : inline;
                grid-area  : name;
                font-weight: 600;
                margin-left: 3em;
                color      : $gray-2;
                font-size  : 85%;
            }

            .time {
                display  : inline;
                grid-area: time;
                color    : $gray-3;
                font-size: 80%;
            }

            .body {
                grid-area: body;

                h1,
                h2,
                h3 {
                    font-size  : 105%;
                    font-weight: bold;
                }

                h4,
                h5,
                h6 {
                    font-size  : 90%;
                    font-weight: bold;
                }

                img {
                    max-width: 100px;
                }
            }

            .reactions {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;

                grid-area: reactions;

                & > button,
                .add-reaction > button {
                    font-size: 80%;
                    padding: 0 0.5em 0 0.2em;
                    display: inline-block;
                    margin: 2px;
                }

                .add-reaction {
                    width: auto;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch;
                    height: 100%;
                    vertical-align: middle;

                    .emoji-mart {
                        position: absolute;
                        bottom  : calc(100% + 1ex);
                        right   : 0;
                    }
                }
            }
        }
    }

    .start-of-chat {
        text-align: center;
        font-style: italic;
        font-size : 90%;
    }
}
