@import "../../../styles/util.scss";

.chat-message {
    width: 100%;

    display       : flex;
    flex-direction: row;

    margin: 1em 0 1em 0;

    &.highlight {
        background-color: lighten($color-3, 35);
        border          : 3px solid $color-3;
    }

    .profile {
        width     : 50px;
        min-width : 50px;
        max-width : 50px;
        margin    : 0 1em 0 0;
        text-align: center;
        cursor    : pointer;

        img {
            display: inline-block;
            width  : 100%;
        }

        .flair-chip {
            display: inline-block;
            margin : 0.3em 0.2em;
        }
    }

    .content {
        width: 100%;

        .content-inner {
            z-index : 1;
            position: relative;

            width                : 100%;
            display              : grid;
            grid-template-columns: min-content auto auto min-content min-content;
            grid-template-rows   : auto auto;
            grid-template-areas  :
                "time name . delete report"
                "body body body body body";

            .goto-overlay {
                z-index      : 2;
                position     : absolute;
                top          : 0;
                left         : -0.3em;
                right        : 0;
                bottom       : 0.2em;
                opacity      : 0;
                border-radius: 5px;

                display        : flex;
                justify-content: center;
                align-items    : center;

                cursor          : pointer;
                background-color: rgba($gray-1, 0.9);
                transition      : opacity ease-in-out 0.1s;

                &:hover {
                    opacity: 1;
                }

                a,
                .button {
                    color       : white;
                    border-color: white;
                    background  : none;
                    transition  : color ease-in-out 0.1s, border-color ease-in-out 0.1s;

                    &:hover {
                        color       : $color-3;
                        border-color: $color-3;
                        background  : none;
                    }
                }
            }

            .name {
                z-index    : 1;
                display    : inline;
                grid-area  : name;
                font-weight: 600;
                margin-left: 3em;
                color      : $gray-2;
                font-size  : 85%;
            }

            .time {
                z-index  : 1;
                display  : inline;
                grid-area: time;
                color    : $gray-3;
                font-size: 80%;
            }

            .body {
                z-index  : 1;
                grid-area: body;

                h1,
                h2,
                h3 {
                    font-size  : 105%;
                    font-weight: bold;
                }

                h4,
                h5,
                h6 {
                    font-size  : 90%;
                    font-weight: bold;
                }

                img {
                    max-width: 100px;
                }

                p:last-child {
                    margin-bottom: 0.2em;
                }
            }

            .delete {
                grid-area      : delete;
            }

            .report {
                grid-area      : report;
            }

            .delete,
            .report {
                font-size      : 85%;
                display        : flex;
                flex-direction : row;
                align-items    : center;
                justify-content: flex-end;

                button {
                    display   : inline;
                    border    : none;
                    background: none;
                    padding   : 0;
                    margin    : 0 2px 0 0;

                    .fas {
                        display: none;
                    }

                    &.yes {
                        margin          : 0.2em 0.4em 0 0.4em;
                        padding         : 0.2em 0.4em 0.2em 0.4em;
                        background-color: $color-5;
                        color           : white;

                        &:hover {
                            color           : white;
                            background-color: lighten($color-5, 20);
                        }

                        &[disabled] {
                            background-color: $gray-2;
                        }
                    }

                    &.no {
                        margin          : 0.2em 0.2em 0 0;
                        padding         : 0.2em 0.4em 0.2em 0.4em;
                        background-color: $primary;
                        color           : white;

                        &:hover {
                            color           : white;
                            background-color: lighten($primary, 20);
                        }
                    }

                    &:hover {
                        color: $primary;

                        .far {
                            display: none;
                        }

                        .fas {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .moderation {}

        .reactions {
            display        : flex;
            flex-direction : row;
            flex-wrap      : wrap;
            justify-content: flex-start;
            z-index        : 3;

            &>button,
            .add-reaction>button {
                font-size      : 80%;
                padding        : 0.3em;
                display        : flex;
                justify-content: center;
                align-items    : center;
                margin         : 2px;
                text-align     : center;
                border-radius  : 1000px;
                background     : none;

                &:hover {
                    color: $gray-1;
                }

                span {
                    padding: 0;
                    margin : 0 0.15em;
                }
            }

            .add-reaction {
                width          : auto;
                position       : relative;
                display        : flex;
                flex-direction : column;
                justify-content: stretch;
                height         : 100%;
                vertical-align : middle;

                .emoji-mart {
                    position: absolute;
                    bottom  : calc(100% + 1ex);
                    left    : 0;
                    z-index : 100;
                }

                button.new {
                    width: auto;

                    i {
                        margin : 0 0.15em;
                        padding: 0;
                    }
                }
            }
        }
    }
}
