.admin-program-editor {
    .person-name {
        display  : inline-block;
        min-width: 20em;
    }

    .person-affiliation {
        display  : inline-block;
        min-width: 20em;
    }

    .person-email {
        display  : inline-block;
        min-width: 20em;
    }
}
