.admin-program-editor {
    .event-item {
        display  : inline-block;
        min-width: 20em;
    }

    .event-session {
        display  : inline-block;
        min-width: 20em;
    }

    .event-time {
        display  : inline-block;
        width: 18em;
    }

}
