# Default conference name
#  db.js creates "XYZ".
#  If doing a production setup, set the correct name here.
REACT_APP_DEFAULT_CONFERENCE=XYZ

# Background Image
#  No need to change this.
REACT_APP_BACKGROUND_IMAGE=./clowdr-logo.png

# App ID
REACT_APP_PARSE_APP_ID=

# JS Key
REACT_APP_PARSE_JS_KEY=

# Rest API Key
REACT_APP_PARSE_REST_API_KEY=

# Parse Domain
#  For a live instance, something like:
#   REACT_APP_PARSE_DOMAIN=wss://YOUR_APP_NAME.back4app.io
#  For testing:
#   REACT_APP_PARSE_DOMAIN=ws://localhost:4000
REACT_APP_PARSE_DOMAIN=

# Parse Database URL
#  For a live instance, something like:
#   REACT_APP_PARSE_DATABASE_URL=https://parseapi.back4app.com/
#  For testing:
#   REACT_APP_PARSE_DATABASE_URL=http://localhost:4000/parse
REACT_APP_PARSE_DATABASE_URL=

# Master Key
PARSE_MASTER_KEY=

# Confirmation Email Redirect (should usually point to the front-end)
REACT_APP_CONFIRMATION_EMAIL_REDIRECT=http://localhost:3000

# Confirmation Email Redirect (should usually point to the back-end)
REACT_APP_TWILIO_CALLBACK_URL=http://localhost:3001

# MongoDB Host
#  In development, this can be found by running `mongo` and finding the connection URL
#  In practice you can get this from Back4App, although...
#    "BCP: Copying this in the obvious way from the back4app site gives a very
#     different looking URL"
MONGODB_HOST=mongodb.back4app.com:27017

# MongoDB Database Password (can be left blank in development)
MONGODB_PASSWORD=

# MongoDB Database Name
#  If starting from scratch this can be anything (e.g. clowdr)
MONGODB_DB=
