@import "../../../styles/util.scss";
@import "../../../styles/form.scss";

$photo-width: mm(60);
$gutter     : mm(10);
$main-width : mm(150);

.profile-editor {
    margin: 1em 0;
    @include basic-form;

    .content {
        display        : flex;
        max-width      : calc(#{$photo-width} + #{$gutter} + #{$main-width});
        margin         : 0 auto 0 auto;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: space-evenly;

        .photo {
            background-color: black;
            width           : $photo-width;
            height          : $photo-width;
            position        : relative;
            margin-bottom   : $gutter;

            img {
                width          : $photo-width;
                height         : $photo-width;
                object-fit     : cover;
                object-position: center;
            }

            .upload {
                position: absolute;
                bottom  : 0;
                right   : 0;

                .photo-input:focus+label,
                .photo-input+label:hover {
                    background: rgba(255, 255, 255, 0.4)
                }

                .photo-input:disabled+label {
                    cursor    : not-allowed;
                    background: rgba(0, 0, 0, 0.4)
                }

                label {

                    color     : white;
                    border    : 1px solid white;
                    background: rgba(0, 0, 0, 0.4);
                    padding   : mm(1) mm(2);
                    margin    : 0;
                    cursor    : pointer;
                }

                .photo-input {
                    width   : 0.1px;
                    height  : 0.1px;
                    opacity : 0;
                    overflow: hidden;
                    position: absolute;
                    z-index : -1;
                }
            }

            .delete {
                position     : absolute;
                top          : 0;
                right        : 0;
                color        : white;
                background   : rgba(0, 0, 0, 0.4);
                border-radius: 0;
                border       : 1px solid white;

                &:hover {
                    background: rgba(255, 255, 255, 0.4)
                }
            }
        }
    }
}