@import "../../../styles/util.scss";

.all-chats {
    margin-top: 1em;

    .chat-item {
        column-gap    : 0.2em;
        display       : flex;
        flex-direction: row;
        align-items   : center;
    }

    .user-info {
        display      : flex;
        align-items  : center;
        column-gap   : 0.5em;
        flex-grow    : 1;
        row-gap      : 0.5em;
        min-height   : 3em;
        padding      : 0.3em 1em;
        color        : black;
        border-radius: 5px;

        @media only screen and (max-width: $break-sm) {
            flex-wrap: wrap;
            height   : auto;
            padding  : 1em;
        }

        &:hover {
            background     : $gray-6;
            text-decoration: none;
        }

        .online-indicator {
            color        : $gray-0;
            font-size    : 50%;
            padding-right: mm(2);

            &.online {
                color: $color-5;
            }
        }

        .profile-icon {
            font-size: 80%;
            padding  : mm(2);
        }

        .flair-box {
            display    : flex;
            align-items: center;
            font-size  : 0.9em;
            row-gap    : .4em;
            gap        : mm(2);
            margin-left: auto;
            flex-shrink: 10;
            overflow-x : hidden;

            @media only screen and (max-width: $break-sm) {
                width     : 100%;
                overflow-x: hidden;
            }

            .flair-container {
                flex-grow  : 0;
                flex-shrink: 0;
            }
        }
    }

    .send-message {
        border-radius: 5px;
        color        : black;
        height       : 80%;
        line-height  : normal;
        padding      : 0.5em;

        &:hover {
            background: $gray-6;
        }
    }
}