@import "../../../styles/util.scss";

.all-participants {
    column-count: 3;
    column-fill: auto;

    .admin-buttons {
        display: flex;
        column-gap: mm(3);

        &__button {
        .flair-box {
            display    : flex;
            gap        : mm(2);
            margin-left: mm(8);
            width      : 100%;

            .flair-container {
                flex-grow  : 0;
                flex-shrink: 1;
            }
        }
        }
    }
}