@import "../../../styles/util.scss";

.all-participants {
    column-fill: auto;
    margin-top : 1em;

    .column__search {
        display        : flex;
        justify-content: center;
        width          : 100%;
    }

    .participant {
        display      : flex;
        column-gap   : 1em;
        row-gap      : 0.5em;
        align-items  : center;
        height       : 3em;
        padding      : 0 1em;
        color        : black;
        border-radius: 5px;

        @media only screen and (max-width: $break-sm) {
            flex-wrap: wrap;
            height   : auto;
            padding  : 1em;
        }

        &:hover {
            background     : $gray-6;
            text-decoration: none;
        }

        .name {
            font-size: 1.1em;

            &.banned {
                text-decoration: line-through;
            }
        }

        .affiliation {
            font-size     : 0.9em;
            vertical-align: middle;
            font-style    : italic;
        }

        .flair-box {
            display    : flex;
            align-items: center;
            font-size  : 0.9em;
            row-gap    : .4em;
            gap        : mm(2);
            margin-left: auto;
            flex-shrink: 10;
            overflow-x : hidden;

            @media only screen and (max-width: $break-sm) {
                width     : 100%;
                overflow-x: hidden;
            }

            .flair-container {
                flex-grow  : 0;
                flex-shrink: 0;
            }
        }

        .admin-buttons {
            display   : flex;
            column-gap: mm(3);
            width     : auto;

            button {
                width: max-content;
            }
        }
    }
}