@import "../../../styles/util.scss";

.all-participants {
    column-fill : auto;
    max-width: 500px;

    .column-item {
        display  : flex;
        flex-wrap: wrap;
        margin-bottom: 0.4em;

        .name.banned {
            text-decoration: line-through;
        }

        .flair-box {
            display    : flex;
            gap        : mm(2);
            margin-left: mm(8);
            width      : 100%;

            .flair-container {
                flex-grow  : 0;
                flex-shrink: 1;
            }
        }

        .admin-buttons {
            display   : flex;
            column-gap: mm(3);
            width     : auto;
            margin-left: auto;

            &__button {}
        }
    }
}
