@import "../../../../styles/util";

.program-item {
    .info {
        .abstract {}

        .authors {
            font-style: italic;

            a {
                color: inherit;
            }

            span {
                margin: 0 0.5em;
            }
        }
    }

    .attachments {
        h3 {
            font-size  : inherit;
            font-weight: bold;
        }
    }
}
