@import "../../../styles/util";

.login {
    margin-top    : 10vh;
    display       : flex;
    flex-direction: column;
    text-align    : center;

    h1 {
        font-size: $font-3xl;
    }

    p {
        margin-top: mm(4);
        color     : $gray-2;
    }

    form {
        display       : flex;
        flex-direction: column;
        width         : 50%;
        margin        : 0 auto;

        @media only screen and (max-width: $break-sm) {
            width: 90%;
            font-size: 80%;
        }

        .error-message {
            margin-bottom: 2ex;
            color: $primary;
        }

        .email-box,
        .password-box {
            padding      : mm(2) mm(2);
            border-radius: radius(2);
            border       : 2px solid $gray-3;
        }

        .password-box {
            margin-top: mm(2);
        }

        .form-buttons {
            display              : grid;
            grid-template-columns: auto 50px auto;
            grid-template-areas  : "sign-in . sign-up"
                "reselect reselect reselect";
            margin: mm(4) auto 0 auto;
            
            @media only screen and (max-width: $break-sm) {
                width: 100%;
                grid-template-columns: auto 20px auto;
            }

            .sign-in {
                grid-area: sign-in;
            }

            .sign-up {
                grid-area: sign-up;
            }

            .sign-in,
            .sign-up {
                padding         : mm(2) mm(5);
                color           : white;
                background-color: $primary;
                border          : none;
                border-radius   : radius(2);
            }

            .select-another {
                margin-top: mm(4);
                grid-area : reselect;
                width     : 100%;
            }
        }

        .select-another {
            margin : 0 auto;
            padding: mm(2) mm(5);
        }
    }
}
