@import "../../../styles/util.scss";

.all-sponsors {
    h2 {
        color     : $gray-2;
        font-size : 1.5em;
        margin-top: 2em;
        text-align: center;
    }

    .sponsor-items {
        display        : flex;
        flex-wrap      : wrap;
        column-gap     : 5em;
        row-gap        : 2em;
        flex-direction : row;
        align-items    : center;
        justify-content: center;

        .sponsor-item {
            text-align: center;
            width     : 10em;
            max-width : 10em;

            &__logo {
                width     : 10em;
                max-width : 10em;
                max-height: 3em;
                object-fit: contain;
            }
        }

        &--gold {
            .sponsor-item {
                font-size: 2em;
            }
        }

        &--silver {
            .sponsor-item {
                font-size: 1.5em;
            }
        }

        &--bronze {
            .sponsor-item {
                font-size: 1em;
            }
        }
    }
}