@import "../../../../styles/util.scss";
@import "../../../../styles/form";

$gutter    : mm(5);
$main-width: 100%;

.button-item {
    height: 100%;
    @include basic-form;

    .form-buttons {
        margin: mm(3) 0;
    }

    &__button {
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        align-items    : center;
        justify-content: center;
        height         : 100%;

        button,
        a {
            padding         : mm(3) mm(5);
            margin          : 1em;
            color           : white;
            border          : none;
            border-radius   : radius(2);
            font-size       : 1.1em;
            background-color: $dark-primary;
            height          : min-content;

            &:disabled {
                background: $gray-4;
                cursor    : not-allowed;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}