@import "../../../../styles/util";

.whole-program-page {
    .switcher {
        text-align: center;
    }
}

.whole-program {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows       : min-content;
    grid-column-gap      : 1em;
    grid-row-gap         : 8ex;

    &.schedule {
        grid-template-columns: 100%;
        grid-auto-rows       : auto;
        grid-column-gap      : 1em;
        grid-row-gap         : 1em;

        hr {
            border-color: $color-3;
        }
    }

    p {
        padding: 0;
        margin : 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: inherit;
        padding  : 0;
        margin   : 0;
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    .track {
        display: block;
        width  : 100%;
        border : 1px solid $gray-6;

        @media only screen and (max-width: $break-md) {
            border-top-color: $color-3;
            border-top-width: 2px;
        }

        &>.title {
            padding    : 0.5em;
            font-weight: bold;

            a:hover {
                text-decoration: underline;
            }
        }

        &>.content {
            display       : flex;
            flex-direction: column;
            max-height    : 80ex;
            overflow-x    : auto;
            overflow-y    : auto;

            @media only screen and (max-width: $break-md) {
                max-height: 100%;
            }
        }
    }

    .session {
        display    : block;
        width      : auto;
        padding-top: 1em;

        &:nth-child(odd) {
            background-color: rgba($primary, 0.1);
        }

        &>.title {
            text-align    : center;
            font-style    : italic;
            padding-bottom: 0.3em;
            margin-bottom : 0.5em;

            a:hover {
                text-decoration: underline;
            }
        }

        &>.content {}
    }


    .event {
        display: block;
        width  : auto;
        cursor : pointer;
        padding: 0.5em;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.05);
        }

        &.disabled {
            cursor: inherit;

            &:hover {
                background: none;
            }
        }

        &.now {
            border    : 3px solid $primary;
            text-align: center;

            &::before {
                content   : "Happening now";
                color     : $primary;
                font-style: italic;
                font-size : 90%;
            }

            &>.heading {
                &>.title {
                    margin-top: 0.2em;
                    text-align: left;
                }
            }

            &>.content {
                text-align: left;
            }
        }

        &>.heading {
            display       : flex;
            flex-direction: row;
            padding-bottom: 0.2em;
            justify-content: space-between;
            flex-wrap: wrap;

            &>.title {
                display: inline-block;
            }

            &>a {
                display: inline-block;
                font-size: 80%;
                min-width: 8em;
            }

            &>a:nth-child(2) {
                font-style: italic;
            }
        }

        &>.content {
            padding-left: 2em;

            .authors {
                font-style: italic;
                font-size : 90%;
                margin-top: 0.4em;

                span {
                    margin: 0 0.4em;
                }
            }
        }
    }



    &.single-track {
        .track {
            border: none;

            &>.title {
                display: none;
            }

            &>.content {
                max-height: 100%;
            }
        }
    }

    &.single-session {
        .session {
            background: none;
        }
    }
}

.track-marker {
    display: inline-block;
    vertical-align: middle;

    width: 20px;
    height: 20px;

    margin: 0 0.3em 0.3em 0.3em;

    &.small {
        width : 10px;
        height: 10px;
    }
}
