@import "../../../styles/util.scss";

ul.menu-group {
    li .menu-item.menu-item--profile {
        font-size    : 1.1em;
        margin       : 0 0 0.3em;
        padding      : 0.4em;
        border-radius: 5px;

        .profile-icon {
            border-radius : 5px;
            margin        : 0 0.5em 0 0;
            width         : 1.5em;
            height        : 1.5em;
            object-fit    : cover;
            vertical-align: middle;
        }
    }
}