@mixin basic-form {
    form {
        display       : flex;
        flex-direction: column;
        margin        : 0 $gutter 0 $gutter;
        max-width     : $main-width;

        @media only screen and (max-width: $break-sm) {
            margin: 0;
        }

        label {
            margin-top   : mm(4);
            margin-bottom: mm(1);

            &:first-child {
                margin-top: 0;
            }
        }

        input,
        select,
        textarea {
            border-radius: 4px;
            border       : 1px solid black;
            padding      : mm(3) mm(3);
        }

        .submit-container {
            display        : flex;
            justify-content: flex-end;
            margin-top     : mm(4);

            button,
            input {
                padding      : mm(3) mm(5);
                color        : white;
                border       : none;
                border-radius: radius(2);
            }

            button,
            input[type=submit] {
                background  : $color-3;
                margin-right: mm(5);

                &:disabled {
                    background: $gray-4;
                    cursor    : not-allowed;

                    &hover {
                        background: $gray-4;
                    }
                }
            }

            input {
                background: $secondary;
                transition: 0.2s ease-out;

                &:hover {
                    background: $dark-primary;
                    transition: 0.2s ease-in;
                }
            }
        }
    }
}