@import "../../styles/util";

#root {
    position: absolute;
    width   : 100%;
    height  : 100%;
    top     : 0;
    left    : 0;
    overflow: hidden;
}

.app {
    position: relative;
    width   : 100%;
    height  : 100%;

    display           : grid;
    grid-template-rows: min-content 1fr;

    &.sidebar-open {
        grid-template-columns: minmax(350px, 20%) 1em auto 1em;
    }

    &.sidebar-closed {
        grid-template-columns: 20px 50px auto 20px;
    }

    @media only screen and (max-width: $break-md) {
        &.sidebar-open {
            grid-template-columns: 100% 0% 0% 0%;
        }

        &.sidebar-closed {
            grid-template-columns: 20px 50px auto;
        }
    }

    .page-wrapper {
        grid-row-start   : 1;
        grid-row-end     : 3;
        grid-column-start: 1;
        grid-column-end  : 2;
    }

    &.sidebar-open {

        .page-wrapper {
            display              : grid;
            grid-template-rows   : minmax(3em, min-content) auto;
            grid-template-columns: auto;

            grid-row-start   : 1;
            grid-row-end     : 3;
            grid-column-start: 3;
            grid-column-end  : 4;

            .page-header {
                grid-row-start   : 1;
                grid-row-end     : 2;
                grid-column-start: 1;
                grid-column-end  : 2;
            }

            .page {
                grid-row-start   : 2;
                grid-row-end     : 3;
                grid-column-start: 1;
                grid-column-end  : 2;
            }

            @media only screen and (max-width: $break-md) {
                min-width : 0;
                overflow-x: hidden;
                width     : 0;
                padding   : 0;
            }
        }

        .sidebar {
            grid-row-start   : 1;
            grid-row-end     : 3;
            grid-column-start: 1;
            grid-column-end  : 2;
        }
    }


    &.sidebar-closed {
        .page-wrapper {
            display              : grid;
            grid-template-rows   : minmax(3em, min-content) auto;
            grid-template-columns: 30px auto;

            @media only screen and (max-width: $break-md) {
                grid-template-columns: 50px auto;
            }

            z-index: 1;

            grid-row-start   : 1;
            grid-row-end     : 3;
            grid-column-start: 2;
            grid-column-end  : 4;

            .page-header {
                grid-row-start   : 1;
                grid-row-end     : 2;
                grid-column-start: 2;
                grid-column-end  : 3;
            }

            .page {
                grid-row-start   : 2;
                grid-row-end     : 3;
                grid-column-start: 1;
                grid-column-end  : 3;
            }

            @media only screen and (max-width: $break-md) {
                grid-column-start: 1;
            }
        }

        .sidebar-button {
            grid-row-start   : 1;
            grid-row-end     : 2;
            grid-column-start: 1;
            grid-column-end  : 3;

            z-index: 2;
        }
    }
}