@import "../../../styles/util.scss";

.exhibits-page {
    .exhibits {
        display              : grid;
        grid-template-columns: minmax(0, 1fr);
        grid-auto-rows       : minmax(min-content, max-content);
        column-gap           : 2.5%;
        row-gap              : mm(10);
        margin               : 0%;
        justify-content      : stretch;

        &__exhibit {
            display : flex;
            overflow: hidden;
            width   : 100%;

            h2 {
                word-wrap: break-word;
                font-size: 120%;
            }
        }

        @media only screen and (min-width: $break-md) {
            grid-template-columns: minmax(0, 1fr);
            margin               : 2.5%;
        }

        @media only screen and (min-width: $break-lg) {
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        }

        @media only screen and (max-width: $break-md) {
            .exhibit {
                border-left : 0 none;
                border-right: 0 none;
            }
        }
    }
}
