.loading-spinner {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
}

.button > .loading-spinner {
    display: inline-block;
    min-width: 1em;
    width: auto;
}

.main > .loading-spinner {
    margin-bottom: -5ex;
}
