.video-grid {
    // https://material-ui.com/customization/breakpoints/

    $break-xs: 600px;
    $break-sm: 960px;
    $break-md: 1280px;

    .participants-grid-container {
        // See breakpoints of `ParticipantList:useStyles.gridInnerContainer`
        // 4 columns
        .area-0  { grid-area: 1  / 1 / span 1 / span 1; } .area-1  { grid-area: 1  / 2 / span 1 / span 1; } .area-2  { grid-area: 1  / 3 / span 1 / span 1; } .area-3  { grid-area: 1  / 4 / span 1 / span 1; }
        .area-4  { grid-area: 2  / 1 / span 1 / span 1; } .area-5  { grid-area: 2  / 2 / span 1 / span 1; } .area-6  { grid-area: 2  / 3 / span 1 / span 1; } .area-7  { grid-area: 2  / 4 / span 1 / span 1; }
        .area-8  { grid-area: 3  / 1 / span 1 / span 1; } .area-9  { grid-area: 3  / 2 / span 1 / span 1; } .area-10 { grid-area: 3  / 3 / span 1 / span 1; } .area-11 { grid-area: 3  / 4 / span 1 / span 1; }
        .area-12 { grid-area: 4  / 1 / span 1 / span 1; } .area-13 { grid-area: 4  / 2 / span 1 / span 1; } .area-14 { grid-area: 4  / 3 / span 1 / span 1; } .area-15 { grid-area: 4  / 4 / span 1 / span 1; }
        .area-16 { grid-area: 5  / 1 / span 1 / span 1; } .area-17 { grid-area: 5  / 2 / span 1 / span 1; } .area-18 { grid-area: 5  / 3 / span 1 / span 1; } .area-19 { grid-area: 5  / 4 / span 1 / span 1; }
        .area-20 { grid-area: 6  / 1 / span 1 / span 1; } .area-21 { grid-area: 6  / 2 / span 1 / span 1; } .area-22 { grid-area: 6  / 3 / span 1 / span 1; } .area-23 { grid-area: 6  / 4 / span 1 / span 1; }
        .area-24 { grid-area: 7  / 1 / span 1 / span 1; } .area-25 { grid-area: 7  / 2 / span 1 / span 1; } .area-26 { grid-area: 7  / 3 / span 1 / span 1; } .area-27 { grid-area: 7  / 4 / span 1 / span 1; }
        .area-28 { grid-area: 8  / 1 / span 1 / span 1; } .area-29 { grid-area: 8  / 2 / span 1 / span 1; } .area-30 { grid-area: 8  / 3 / span 1 / span 1; } .area-31 { grid-area: 8  / 4 / span 1 / span 1; }
        .area-32 { grid-area: 9  / 1 / span 1 / span 1; } .area-33 { grid-area: 9  / 2 / span 1 / span 1; } .area-34 { grid-area: 9  / 3 / span 1 / span 1; } .area-35 { grid-area: 9  / 4 / span 1 / span 1; }
        .area-36 { grid-area: 10 / 1 / span 1 / span 1; } .area-37 { grid-area: 10 / 2 / span 1 / span 1; } .area-38 { grid-area: 10 / 3 / span 1 / span 1; } .area-39 { grid-area: 10 / 4 / span 1 / span 1; }
        .area-40 { grid-area: 11 / 1 / span 1 / span 1; } .area-41 { grid-area: 11 / 2 / span 1 / span 1; } .area-42 { grid-area: 11 / 3 / span 1 / span 1; } .area-43 { grid-area: 11 / 4 / span 1 / span 1; }
        .area-44 { grid-area: 12 / 1 / span 1 / span 1; } .area-45 { grid-area: 12 / 2 / span 1 / span 1; } .area-46 { grid-area: 12 / 3 / span 1 / span 1; } .area-47 { grid-area: 12 / 4 / span 1 / span 1; }
        .area-48 { grid-area: 13 / 1 / span 1 / span 1; } .area-49 { grid-area: 13 / 2 / span 1 / span 1; }

        @media only screen and (max-width: $break-md) {
            // 3 columns
            .area-0  { grid-area: 1  / 1 / span 1 / span 1; } .area-1  { grid-area: 1  / 2 / span 1 / span 1; } .area-2  { grid-area: 1  / 3 / span 1 / span 1; }
            .area-3  { grid-area: 2  / 1 / span 1 / span 1; } .area-4  { grid-area: 2  / 2 / span 1 / span 1; } .area-5  { grid-area: 2  / 3 / span 1 / span 1; }
            .area-6  { grid-area: 3  / 1 / span 1 / span 1; } .area-7  { grid-area: 3  / 2 / span 1 / span 1; } .area-8  { grid-area: 3  / 3 / span 1 / span 1; }
            .area-9  { grid-area: 4  / 1 / span 1 / span 1; } .area-10 { grid-area: 4  / 2 / span 1 / span 1; } .area-11 { grid-area: 4  / 3 / span 1 / span 1; }
            .area-12 { grid-area: 5  / 1 / span 1 / span 1; } .area-13 { grid-area: 5  / 2 / span 1 / span 1; } .area-14 { grid-area: 5  / 3 / span 1 / span 1; }
            .area-15 { grid-area: 6  / 1 / span 1 / span 1; } .area-16 { grid-area: 6  / 2 / span 1 / span 1; } .area-17 { grid-area: 6  / 3 / span 1 / span 1; }
            .area-18 { grid-area: 7  / 1 / span 1 / span 1; } .area-19 { grid-area: 7  / 2 / span 1 / span 1; } .area-20 { grid-area: 7  / 3 / span 1 / span 1; }
            .area-21 { grid-area: 8  / 1 / span 1 / span 1; } .area-22 { grid-area: 8  / 2 / span 1 / span 1; } .area-23 { grid-area: 8  / 3 / span 1 / span 1; }
            .area-24 { grid-area: 9  / 1 / span 1 / span 1; } .area-25 { grid-area: 9  / 2 / span 1 / span 1; } .area-26 { grid-area: 9  / 3 / span 1 / span 1; }
            .area-27 { grid-area: 10 / 1 / span 1 / span 1; } .area-28 { grid-area: 10 / 2 / span 1 / span 1; } .area-29 { grid-area: 10 / 3 / span 1 / span 1; }
            .area-30 { grid-area: 11 / 1 / span 1 / span 1; } .area-31 { grid-area: 11 / 2 / span 1 / span 1; } .area-32 { grid-area: 11 / 3 / span 1 / span 1; }
            .area-33 { grid-area: 12 / 1 / span 1 / span 1; } .area-34 { grid-area: 12 / 2 / span 1 / span 1; } .area-35 { grid-area: 12 / 3 / span 1 / span 1; }
            .area-36 { grid-area: 13 / 1 / span 1 / span 1; } .area-37 { grid-area: 13 / 2 / span 1 / span 1; } .area-38 { grid-area: 13 / 3 / span 1 / span 1; }
            .area-39 { grid-area: 14 / 1 / span 1 / span 1; } .area-40 { grid-area: 14 / 2 / span 1 / span 1; } .area-41 { grid-area: 14 / 3 / span 1 / span 1; }
            .area-42 { grid-area: 15 / 1 / span 1 / span 1; } .area-43 { grid-area: 15 / 2 / span 1 / span 1; } .area-44 { grid-area: 15 / 3 / span 1 / span 1; }
            .area-45 { grid-area: 16 / 1 / span 1 / span 1; } .area-46 { grid-area: 16 / 2 / span 1 / span 1; } .area-47 { grid-area: 16 / 3 / span 1 / span 1; }
            .area-48 { grid-area: 17 / 1 / span 1 / span 1; } .area-49 { grid-area: 17 / 2 / span 1 / span 1; }
        }

        @media only screen and (max-width: $break-sm) {
            // 2 columns
            .area-0  { grid-area: 1  / 1 / span 1 / span 1; } .area-1  { grid-area: 1  / 2 / span 1 / span 1; }
            .area-2  { grid-area: 2  / 1 / span 1 / span 1; } .area-3  { grid-area: 2  / 2 / span 1 / span 1; }
            .area-4  { grid-area: 3  / 1 / span 1 / span 1; } .area-5  { grid-area: 3  / 2 / span 1 / span 1; }
            .area-6  { grid-area: 4  / 1 / span 1 / span 1; } .area-7  { grid-area: 4  / 2 / span 1 / span 1; }
            .area-8  { grid-area: 5  / 1 / span 1 / span 1; } .area-9  { grid-area: 5  / 2 / span 1 / span 1; }
            .area-10 { grid-area: 6  / 1 / span 1 / span 1; } .area-11 { grid-area: 6  / 2 / span 1 / span 1; }
            .area-12 { grid-area: 7  / 1 / span 1 / span 1; } .area-13 { grid-area: 7  / 2 / span 1 / span 1; }
            .area-14 { grid-area: 8  / 1 / span 1 / span 1; } .area-15 { grid-area: 8  / 2 / span 1 / span 1; }
            .area-16 { grid-area: 9  / 1 / span 1 / span 1; } .area-17 { grid-area: 9  / 2 / span 1 / span 1; }
            .area-18 { grid-area: 10 / 1 / span 1 / span 1; } .area-19 { grid-area: 10 / 2 / span 1 / span 1; }
            .area-20 { grid-area: 11 / 1 / span 1 / span 1; } .area-21 { grid-area: 11 / 2 / span 1 / span 1; }
            .area-22 { grid-area: 12 / 1 / span 1 / span 1; } .area-23 { grid-area: 12 / 2 / span 1 / span 1; }
            .area-24 { grid-area: 13 / 1 / span 1 / span 1; } .area-25 { grid-area: 13 / 2 / span 1 / span 1; }
            .area-26 { grid-area: 14 / 1 / span 1 / span 1; } .area-27 { grid-area: 14 / 2 / span 1 / span 1; }
            .area-28 { grid-area: 15 / 1 / span 1 / span 1; } .area-29 { grid-area: 15 / 2 / span 1 / span 1; }
            .area-30 { grid-area: 16 / 1 / span 1 / span 1; } .area-31 { grid-area: 16 / 2 / span 1 / span 1; }
            .area-32 { grid-area: 17 / 1 / span 1 / span 1; } .area-33 { grid-area: 17 / 2 / span 1 / span 1; }
            .area-34 { grid-area: 18 / 1 / span 1 / span 1; } .area-35 { grid-area: 18 / 2 / span 1 / span 1; }
            .area-36 { grid-area: 19 / 1 / span 1 / span 1; } .area-37 { grid-area: 19 / 2 / span 1 / span 1; }
            .area-38 { grid-area: 20 / 1 / span 1 / span 1; } .area-39 { grid-area: 20 / 2 / span 1 / span 1; }
            .area-40 { grid-area: 21 / 1 / span 1 / span 1; } .area-41 { grid-area: 21 / 2 / span 1 / span 1; }
            .area-42 { grid-area: 22 / 1 / span 1 / span 1; } .area-43 { grid-area: 22 / 2 / span 1 / span 1; }
            .area-44 { grid-area: 23 / 1 / span 1 / span 1; } .area-45 { grid-area: 23 / 2 / span 1 / span 1; }
            .area-46 { grid-area: 24 / 1 / span 1 / span 1; } .area-47 { grid-area: 24 / 2 / span 1 / span 1; }
            .area-48 { grid-area: 25 / 1 / span 1 / span 1; } .area-49 { grid-area: 25 / 2 / span 1 / span 1; }
        }

        @mixin single-column {
            // 1 column
            .area-0  { grid-area: 1  / 1 / span 1 / span 1; }
            .area-1  { grid-area: 2  / 1 / span 1 / span 1; }
            .area-2  { grid-area: 3  / 1 / span 1 / span 1; }
            .area-3  { grid-area: 4  / 1 / span 1 / span 1; }
            .area-4  { grid-area: 5  / 1 / span 1 / span 1; }
            .area-5  { grid-area: 6  / 1 / span 1 / span 1; }
            .area-6  { grid-area: 7  / 1 / span 1 / span 1; }
            .area-7  { grid-area: 8  / 1 / span 1 / span 1; }
            .area-8  { grid-area: 9  / 1 / span 1 / span 1; }
            .area-9  { grid-area: 10 / 1 / span 1 / span 1; }
            .area-10 { grid-area: 11 / 1 / span 1 / span 1; }
            .area-11 { grid-area: 12 / 1 / span 1 / span 1; }
            .area-12 { grid-area: 13 / 1 / span 1 / span 1; }
            .area-13 { grid-area: 14 / 1 / span 1 / span 1; }
            .area-14 { grid-area: 15 / 1 / span 1 / span 1; }
            .area-15 { grid-area: 16 / 1 / span 1 / span 1; }
            .area-16 { grid-area: 17 / 1 / span 1 / span 1; }
            .area-17 { grid-area: 18 / 1 / span 1 / span 1; }
            .area-18 { grid-area: 19 / 1 / span 1 / span 1; }
            .area-19 { grid-area: 20 / 1 / span 1 / span 1; }
            .area-20 { grid-area: 21 / 1 / span 1 / span 1; }
            .area-21 { grid-area: 22 / 1 / span 1 / span 1; }
            .area-22 { grid-area: 23 / 1 / span 1 / span 1; }
            .area-23 { grid-area: 24 / 1 / span 1 / span 1; }
            .area-24 { grid-area: 25 / 1 / span 1 / span 1; }
            .area-25 { grid-area: 26 / 1 / span 1 / span 1; }
            .area-26 { grid-area: 27 / 1 / span 1 / span 1; }
            .area-27 { grid-area: 28 / 1 / span 1 / span 1; }
            .area-28 { grid-area: 29 / 1 / span 1 / span 1; }
            .area-29 { grid-area: 30 / 1 / span 1 / span 1; }
            .area-30 { grid-area: 31 / 1 / span 1 / span 1; }
            .area-31 { grid-area: 32 / 1 / span 1 / span 1; }
            .area-32 { grid-area: 33 / 1 / span 1 / span 1; }
            .area-33 { grid-area: 34 / 1 / span 1 / span 1; }
            .area-34 { grid-area: 35 / 1 / span 1 / span 1; }
            .area-35 { grid-area: 36 / 1 / span 1 / span 1; }
            .area-36 { grid-area: 37 / 1 / span 1 / span 1; }
            .area-37 { grid-area: 38 / 1 / span 1 / span 1; }
            .area-38 { grid-area: 39 / 1 / span 1 / span 1; }
            .area-39 { grid-area: 40 / 1 / span 1 / span 1; }
            .area-40 { grid-area: 41 / 1 / span 1 / span 1; }
            .area-41 { grid-area: 42 / 1 / span 1 / span 1; }
            .area-42 { grid-area: 43 / 1 / span 1 / span 1; }
            .area-43 { grid-area: 44 / 1 / span 1 / span 1; }
            .area-44 { grid-area: 45 / 1 / span 1 / span 1; }
            .area-45 { grid-area: 46 / 1 / span 1 / span 1; }
            .area-46 { grid-area: 47 / 1 / span 1 / span 1; }
            .area-47 { grid-area: 48 / 1 / span 1 / span 1; }
            .area-48 { grid-area: 49 / 1 / span 1 / span 1; }
            .area-49 { grid-area: 50 / 1 / span 1 / span 1; }
        }

        @media only screen and (max-width: $break-xs) {
            @include single-column;
        }

        &.single-column {
            @include single-column;
        }
    }
 }
