.admin-registrations {

    .email-buttons,
    .save-changes-buttons {
        margin    : 1em 0;
        text-align: center;

        button {
            margin-right: 1em;
        }
    }

    .import {
        margin    : 1em 0;
    }

    table {
        th {
            &>input[type=text] {
                min-width: 10vw;
            }

            &>div {
                min-width: 10vw;
            }
        }
    }
}
