@import "../../styles/util";

.page .footer-links {
    display        : flex;
    justify-content: center;
    position       : fixed;
    bottom         : 0;
    left           : 0;
    right          : 0;
    margin-bottom  : mm(10);
    color          : $gray-3;
    font-size      : $font-xsm;

    .footer-link {
        color: inherit;
    }

    .dot {
        display: inline-block;
        margin : 0 mm(6);
    }
}
