@import "../../styles/util";

.footer-links {
    margin-bottom  : mm(10);
    color          : $gray-3;
    font-size      : $font-xsm;

    .footer-link {
        color: inherit;
    }

    .dot {
        display: inline-block;
        margin : 0 mm(6);
    }
}

.page .footer-links {
    position : fixed;
    display        : flex;
    justify-content: center;
    bottom         : 0;
    left           : 0;
    right          : 0;
}

.sidebar .footer-links {
    color: inherit;
    text-align: center;
}
