@import "../../styles/util";

.content-feed {

    &.youtube,
    &.zoom {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
    }

    &.youtube.zoom {
        flex-wrap: wrap;

        .zoom {
            margin-top: 0.5em;
            text-align: center;
            width     : 100%;

            .buttons {
                margin: 0 auto;
            }
        }

        .video-player {}
    }

    .explanation {
        width: 100%;

        p {
            margin: 0.5em 0;
        }
    }

    margin: mm(5);

    h3 {
        font-size  : inherit;
        font-weight: bold;
    }

    .zoom-frame-container {
        margin: mm(5);
    }

    .zoom-frame-button {
        margin: 0.5em;
    }
}