@import "../../styles/util";

.content-feed {

    &.youtube,
    &.zoom {
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
    }

    &.youtube.zoom {
        flex-wrap: wrap;

        .zoom {
            width: 100%;
        }

        .video-player {            
        }
    }

    margin: mm(5);

    h3 {
        font-size  : inherit;
        font-weight: bold;
    }

    .zoom-frame-container {
        margin: mm(5);
    }

    .zoom-frame-button {
        margin: mm(5);
    }
}
