@import "../../../../styles/util.scss";

.exhibit {
    border        : 1px solid $gray-5;
    display       : flex;
    flex-direction: column;
    padding       : mm(5);
    width         : 100%;

    a.exhibit__title {
        color: inherit;

        h2 {
            display: inline;
            vertical-align: middle;
        }

        i {
            font-size: 80%;
            vertical-align: middle;
            margin-right: 0.6em;
        }
    }

    .view-item {
        margin-top: auto;
        text-align: right;

        .button {
            margin-top: mm(5);
        }
    }
}
