@import "../../../../styles/util.scss";

.exhibit {
    border        : 1px solid $gray-5;
    display       : flex;
    flex-direction: column;
    padding       : mm(5);

    a.exhibit__title {
        color: inherit;
    }

    .view-item {
        margin-top: auto;
        text-align: right;
        .button {
            margin-top: mm(5);
        }
    }
}