#chatTabs .ant-card-meta-title {
    margin-bottom: 0;
}

#chatTabs .timestamp {
    color: #606060;
    font-weight: normal;
    font-size: smaller;
    padding-left: 10px;
    padding-right: 10px;
}

#chatTabs .chatMessage {
    color: #333333;
    width: 100%;
    padding-left: 49px;
}

#chatTabs .chatMessage:hover {
    background-color: #F8F8F8;
}
