@import "../../../styles/util.scss";

$photo-width: mm(60);
$gutter     : mm(10);
$main-width : mm(180);

.profile-view {
    .content {
        display        : flex;
        max-width      : calc(#{$photo-width} + #{$gutter} + #{$main-width});
        margin         : 0 auto 0 auto;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: space-evenly;

        .photo {
            background-color: black;
            width           : $photo-width;
            height          : $photo-width;

            img {
                width          : $photo-width;
                height         : $photo-width;
                object-fit     : cover;
                object-position: center;
            }
        }

        .main-info {
            display       : flex;
            flex-direction: column;
            width         : calc(100% - 20em);
            min-width     : 300px;

            .name {
                position: relative;

                .flair-box {
                    display        : flex;
                    margin         : .25em .25em 0 0;
                    justify-content: flex-start;
                    align-items    : flex-start;
                    flex-wrap      : wrap;
                    row-gap        : .4em;

                    .flair-container {
                        margin-left: mm(2);
                    }
                }
            }

            .display-name {
                font-size: $font-xl;
            }

            .pronouns {
                font-size  : $font-lg;
                display    : inline-block;
                margin-left: mm(3);
            }

            .real-name {
                margin-top: mm(-2);
                color     : $gray-3;
            }

            .affiliation {
                margin-top: mm(2);

                span {
                    font-style: italic;
                }
            }

            .country {
                margin: mm(-1) 0 0 mm(2);
            }

            .bio {
                display   : inline-block;
                margin-top: mm(4);
            }

            .edit-button-container {
                margin-top     : mm(4);
                display        : flex;
                justify-content: flex-end;

                .edit-button {
                    color        : white;
                    background   : $secondary;
                    border       : none;
                    border-radius: radius(2);
                    padding      : mm(3) mm(5);
                }
            }
        }
    }
}
