@import "../../styles/util";

.sidebar-button {
    display: inline-block;

    margin    : 0;
    padding   : 0;
    margin-top: 2px;

    button {
        display     : block;
        width       : 45px;
        height      : 45px;
        margin      : 10% 10% 10% -5px;
        padding     : 10%;
        padding-left: calc(10% + 5px);

        border       : 1px solid $gray-2;
        border-radius: 5px;
        border-left  : none;
        background   : none;

        &.change {
            padding-left: calc(10% + 3px);
        }

        & .bar1,
        & .bar2,
        & .bar3 {
            width           : 22px;
            height          : 3px;
            background-color: $gray-2;
            margin          : 5px 0;
            transition      : 0.4s;
        }

        &.change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-3px, 7px);
            transform        : rotate(-45deg) translate(-3px, 7px);
        }

        &.change .bar2 {
            opacity: 0;
        }

        &.change .bar3 {
            -webkit-transform: rotate(45deg) translate(-3px, -7px);
            transform        : rotate(45deg) translate(-3px, -7px);
        }
    }
}

.sidebar {
    background-color: $dark-primary;

    display           : grid;
    grid-template-rows: 3em auto;
    grid-template-areas:
        "header"
        "menu";

    color: $gray-6;

    min-height: 0;

    .sidebar-header {
        display              : grid;
        grid-template-columns: 40px auto auto;
        grid-template-areas  : "button-l heading button-r";

        grid-area: header;

        /* 
         * We reset the font size just for the heading so that the burger button
         * sign out and heading all lines up horizontally.
         */
        font-size: 15px;

        .sidebar-button {
            grid-area: button-l;

            height: 40px;
            width : 40px;

            vertical-align: middle;

            button {
                vertical-align: middle;

                border     : none;
                margin-left: 0px;
                width      : 30px;
                height     : 30px;

                & .bar1,
                & .bar2,
                & .bar3 {
                    background-color: $gray-6;
                    width           : 18px;
                    height          : 2px;
                }
            }
        }

        h1 {
            grid-area: heading;

            display: inline-block;

            font-size     : $font-lg;
            margin        : 0.65em 0 0 0;
            padding       : 0;
            vertical-align: middle;

            a {
                color: inherit;
            }
        }
    }

    .sidebar-scrollable {
        grid-area: menu;

        display              : grid;
        grid-template-rows   : auto min-content;
        grid-template-columns: 0.5em auto 0.5em;
        grid-template-areas  :
            ". menu ."
            "footer footer footer";

        overflow-x: hidden;
        overflow-y: auto;

        min-height: 0;

        .menu {
            grid-area: menu;
        }

        .footer-links {
            grid-area: footer;
            margin   : 0;
            padding  : 1em;

            display        : flex;
            justify-content: flex-end;

            button.signout {
                border : none;
                color  : inherit;
                margin : 0;
                padding: 0;

                margin-right: auto;
            }
        }
    }
}

.menu-expander {
    display: inline-block;
    width  : 100%;
    margin : 0;
    padding: 0;

    height    : auto;
    overflow  : hidden;
    min-height: 0;
    max-height: auto;

    .expander-controls {
        .expansion-control {
            border: none;
            color: inherit;
            /* Enable the outline to show when focus in FF */
            margin: 1px;

            .fas {
                width: 20px;
                margin: 0 0.2em 0 0em;
            }
        }
    }

    .expander-contents {
        height    : auto;
        max-height: 100%;
        overflow  : hidden;

        &.closed {
            max-height: 0;
        }
    }
}
