@import "../../styles/util";

.sidebar-button {
    display: inline-block;

    margin    : 0;
    padding   : 0;
    margin-top: 2px;

    button {
        display     : block;
        width       : 45px;
        height      : 45px;
        margin      : 10% 10% 10% -5px;
        padding     : 10%;
        padding-left: calc(10% + 5px);

        border       : 1px solid $gray-2;
        border-radius: 5px;
        border-left  : none;
        background   : none;

        &.change:hover {
            background: none;
        }

        &.change {
            padding-left: calc(10% + 3px);
        }

        & .bar1,
        & .bar2,
        & .bar3 {
            width           : 22px;
            height          : 3px;
            background-color: $gray-2;
            margin          : 5px 0;
            transition      : 0.4s;
        }

        &.change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-3px, 7px);
            transform        : rotate(-45deg) translate(-3px, 7px);
        }

        &.change .bar2 {
            opacity: 0;
        }

        &.change .bar3 {
            -webkit-transform: rotate(45deg) translate(-3px, -7px);
            transform        : rotate(45deg) translate(-3px, -7px);
        }
    }
}

.sidebar {
    background-color: $dark-primary;

    display           : grid;
    grid-template-rows: 3em auto;
    grid-template-areas:
        "header"
        "menu";

    color: $gray-6;

    min-height: 0;

    .button:hover,
    button:hover,
    input[type=button]:hover {
        background: none;
    }

    .sidebar-header {
        display              : grid;
        grid-template-columns: 40px auto auto;
        grid-template-areas  : "button-l heading button-r";

        grid-area: header;

        /* 
         * We reset the font size just for the heading so that the burger button
         * sign out and heading all lines up horizontally.
         */
        font-size: 15px;

        .sidebar-button {
            grid-area: button-l;

            height: 40px;
            width : 40px;

            vertical-align: middle;

            button {
                vertical-align: middle;

                border     : none;
                margin-left: 0px;
                width      : 30px;
                height     : 30px;

                & .bar1,
                & .bar2,
                & .bar3 {
                    background-color: $gray-6;
                    width           : 18px;
                    height          : 2px;
                }
            }
        }

        h1 {
            grid-area: heading;

            display: inline-block;

            font-size     : $font-lg;
            margin        : 0.65em 0 0 0;
            padding       : 0;
            vertical-align: middle;

            a {
                color: inherit;
            }
        }
    }

    .sidebar-scrollable {
        grid-area: menu;

        display              : grid;
        grid-template-rows   : auto 2ex min-content;
        grid-template-columns: 0.5em auto 0.5em;
        grid-template-areas  :
            ". menu ."
            ". . ."
            "footer footer footer";

        overflow-x: hidden;
        overflow-y: auto;

        min-height: 0;

        .menu {
            grid-area: menu;
        }

        .footer-links {
            grid-area: footer;
            margin   : 0;
            padding  : 1em;

            display        : flex;
            justify-content: flex-end;

            button.signout {
                border : none;
                color  : inherit;
                margin : 0;
                padding: 0;

                margin-right: auto;
            }
        }
    }

    .menu-expander {
        display: inline-block;
        width  : 100%;
        margin : 0;
        padding: 0;

        height    : auto;
        overflow  : hidden;
        min-height: 0;
        max-height: auto;

        .expander-controls {
            display        : flex;
            justify-content: flex-end;
            height         : 4ex;

            button,
            a {
                color      : inherit;
                border     : none;
                /* Enable the outline to show when focused. */
                margin     : 2px;
                padding    : 2px;
                margin-left: 0.2em;

                .fas {
                    margin : 0;
                    padding: 0;
                }
            }

            .expansion-control {
                margin       : 2px;
                margin-right : auto;
                padding-right: 0.4em;
                width        : auto;
                min-width    : max-content;

                font-size: 100%;

                h2 {
                    font-size: inherit;
                    display  : inline;
                }

                .fas {
                    width : 20px;
                    margin: 0 0.2em 0 0em;
                }
            }

            button.search {
                padding-top: 0.2ex;
            }

            .search-wrapper {
                position : relative;
                display  : inline-block;
                height   : 100%;
                min-width: 50%;
                width    : 100%;
                padding  : 4px;
                max-width: max-content;

                input.search {
                    display  : inline-block;
                    font-size: inherit;
                    width    : 100%;
                    height   : 100%;
                }

                .search-close-button {
                    display  : inline-block;
                    position : absolute;
                    top      : 50%;
                    right    : 0;
                    color    : $gray-2;
                    margin   : 0;
                    padding  : 0;
                    transform: translateY(-50%) translateX(-50%);
                    font-size: 14px;

                    .fas {
                        position : relative;
                        display  : inline-block;
                        font-size: inherit;
                        margin   : 0;
                        padding  : 0;
                    }
                }
            }
        }

        .expander-contents {
            padding-left: 20px;
            font-size   : 90%;

            &.closed {
                display: none;
            }
        }
    }

    span.menu-group {
        display: inline-block;
        padding: 0 0 0 calc(4px + 0.25em);
        width  : 100%;
    }

    ul.menu-group {
        display   : inline-block;
        list-style: none;
        padding   : 0 0 0 calc(2px + 0.25em);
        width     : 100%;

        margin-bottom: 2ex;

        &:before {
            content: none;
        }

        li {
            margin-right: 2px;

            .menu-item {
                margin-top     : 0.3ex;
                padding        : 0 0.3em 0.1em 0.2em;
                display        : inline-block;
                color          : inherit;
                border         : none;
                width          : 100%;
                text-decoration: none;

                &:hover,
                &:focus {
                    text-decoration: none;
                }

                .head-row {
                    display: block;

                    .fas,
                    .far {
                        display: inline-block;

                        font-size   : 60%;
                        width       : 10px;
                        margin-right: 0.5em;

                        vertical-align: middle;

                        &.fa-hashtag {
                            font-size: 80%;
                        }
                    }

                    .title {
                        display       : inline;
                        vertical-align: middle;
                        font-size     : 90%;

                        &.bolded {
                            font-weight: 900;
                        }
                    }
                }

                .child-content {
                    display: block;

                    ul {
                        margin         : 0.4ex 0 0.4ex 0;
                        columns        : 2;
                        -webkit-columns: 2;
                        -moz-columns   : 2;
                        font-size      : 80%;

                        li {
                            &.plus-bullet {
                                list-style-type: '+';
                                padding-left   : 0.5em;
                            }
                        }
                    }
                }

                i.fas.online {
                    color: $color-5;
                }
            }
        }
    }

    .program {
        margin-top  : 1ex;
        margin-left : -18px;
        margin-right: 2px;

        .group {
            margin-bottom: 1ex;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

            &:last-child {
                border-bottom: none;
            }

            .time {
                text-align    : right;
                text-transform: uppercase;
                font-style    : italic;
                font-size     : 80%;
                margin-bottom : 1ex;
            }

            ul {
                list-style-type: none;
                padding        : 0;
                margin         : 0;

                li {
                    margin : 1ex 0 1ex 0;
                    display: flex;

                    &.session {
                        a {
                            font-style: italic;
                        }
                    }

                    &.event {}

                    a {
                        display     : inline-block;
                        color       : inherit;
                        margin-right: auto;

                        h3 {
                            font-size: 90%;
                            display  : inline-block;
                            margin   : 0;
                            padding  : 0;
                            width    : auto;

                            display           : -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow          : hidden;
                            text-overflow     : ellipsis;
                        }
                    }

                    .track {
                        display     : inline-block;
                        font-size   : 75%;
                        color       : rgba(255, 255, 255, 0.75);
                        margin-left : 0.25em;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
