.program-event {
    .info {
        .abstract {}

        .authors {
            font-style: italic;

            a {
                color: inherit;
            }

            span {
                margin: 0 0.5em;
            }
        }
    }

    .attachments {
        h3 {
            font-size: inherit;
            font-weight: bold;
        }

        .video-player {
            max-width: 100%;

            width: 640px;
            height: auto;
            padding-top: 75%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
            /* padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

            position: relative;

            div {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
    }
}
