@import "../../../../styles/util";

.program-event {
    h2 {
        font-size: 130%;
    }

    .session-feed {
        border-bottom: 1px solid $gray-5;
        padding-bottom: 3em;
        margin-bottom: 3em;
    }

    .event-feed {
        border-bottom: 1px solid $gray-5;
        padding-bottom: 3em;
        margin-bottom: 3em;
    }
}
