@import "../../../styles/util.scss";

.column {
    min-width     : 300px;
    display       : flex;
    flex-direction: column;
    row-gap       : 0.5em;
    padding-top   : 1em;

    &__search {
        &__icon {
            padding: mm(2) mm(2) mm(2) 0;
        }

        &__input {
            border       : 1px solid $gray-0;
            border-radius: 4px;
            padding      : mm(1) mm(3);
        }
    }

    &__contents {
        flex      : 1 1 auto;
        overflow-y: auto;
        overflow-x: hidden;
        width     : 100%;
    }

    .column-item {
        width  : 100%;
        padding: 0;

        &__icon {
            padding: mm(2);
        }
    }
}
