@import "../../styles/util";

.page {
    height: 100%;
    width : 100%;

    overflow: hidden auto;
    /* For focusable section-level elements to display outline properly */
    padding: 0 2px;
}

.page-header {
    border-bottom: 1px solid $gray-5;

    h1 {
        margin: 0 0 0.3em 0;
    }

    &.no-actions {
        h1 {
            margin-top: 0.4em;
        }
    }
}
