@import "../../../styles/util.scss";

.video-room {
    position: relative;
    width   : 100%;
    height  : 100%;

    .split {
        position: relative;
        height  : 100%;
        width   : 100%;

        button {
            display         : block;
            position        : absolute;
            left            : 0;
            right           : 0;
            width           : 100%;
            border          : none;
            background-color: rgba(0, 0, 0, 0.05);
            cursor          : pointer;
            font-size       : mm(2);

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        &.top-split button {
            bottom: 0;
        }

        &.bottom-split button {
            top: 0;
        }
    }
}
