@import "../../../../styles/util";

.reset-password {
    margin-top    : 10vh;
    display       : flex;
    flex-direction: column;
    text-align    : center;

    h1 {
        font-size: $font-3xl;
    }

    p {
        margin-top: mm(4);
        color     : $gray-2;
    }

    form {
        display       : flex;
        flex-direction: column;
        width         : 50%;
        margin        : 0 auto;

        @media only screen and (max-width: $break-sm) {
            width    : 90%;
            font-size: 80%;
        }

        input[type=text],
        input[type=email],
        input[type=password] {
            margin       : mm(2);
            padding      : mm(2) mm(2);
            border-radius: radius(2);
            border       : 2px solid $gray-3;
        }

        .form-buttons {
            display        : flex;
            flex-direction : row;
            text-align     : center;
            justify-content: center;
            margin         : mm(4) auto 0 auto;

            .reset-password {
                padding         : mm(2) mm(5);
                color           : white;
                background-color: $primary;
                border          : none;
                border-radius   : radius(2);
                flex-grow       : 0;
            }

            .back-to-sign-in {
                padding  : mm(2) mm(5);
                flex-grow: 0;
            }
        }
    }
}