@import "../../../styles/util.scss";

.moderation-hub {
    position: relative;
    width   : 100%;
    height  : 100%;

    .all-channels {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        a.completed {
            color: $gray-3;
        }
    }
}
