@import '~antd/dist/antd.css';

.site-layout .site-layout-background {
    background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

.space-align-container {
    display: flex;
    align-item: flex-start;
    flex-wrap: wrap;
    background: #fff;
}

.space-align-block {
    margin: 8px 4px;
    border: 1px solid #fff;
    padding: 4px;
    flex: none;
}

.space-align-block .mock-block {
    display: inline-block;
    padding: 32px 8px 16px;
    background: rgba(150, 150, 150, 0.2);
}

.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
}

.site-layout-background:after {
    content: "";
    display: block;
}

.videoEmbed h4 {
    color: black;
}
.embedded-react-player {
    position: absolute;
    top: 0;
    left: 0;
}
.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }

.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow.chat-list-panel > .ant-collapse-header {
    padding: 4px 0 4px 5px;
}

.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow.chat-list-panel > .ant-collapse-header:hover {
    background-color: #dddfe2;
}

.fill img {
    width: 100%;
}
/*.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow.chat-list-panel .ant-badge{*/
/*  padding-right: 2px;*/
/*}*/
#sidepopoutcontainer > div > div.ant-tabs-content.ant-tabs-content-no-animated.ant-tabs-right-content.ant-tabs-card-content {
    padding-right: 0;
}

.active-chats-list-title {
    position: absolute;
    left: 35px;
}

#tab-general {
    /*padding-left: 0;*/
    background-color: white;
    color: #4a4a4a;
    font-weight: bold;
    border-right: 2px solid #cacaca;
    border-bottom: 2px solid #cacaca;
    border-top: 2px solid #cacaca;
    padding-right: 0px;
}

.video-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: auto; /* gutter size offset */
    width: auto;
    height: 80vh;
}

.video-masonry-column {
    padding-left: 0px; /* gutter size */
    background-clip: padding-box;
}

/* Style your items */
.video-masonry-column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 0px;
}

#sidepopoutcontainer > div > div.ant-tabs-content.ant-tabs-content-no-animated.ant-tabs-right-content.ant-tabs-card-content {
    height: 100%;

}

#sidepopoutcontainer > div > div.ant-tabs-content.ant-tabs-content-no-animated.ant-tabs-right-content.ant-tabs-card-content > div.ant-tabs-tabpane.ant-tabs-tabpane-active {
    height: 100%;
    background-color: white;
}

.action-bar {
    background-color: #F8F8F8;
    border-top: 0.5px solid #e7e7e7;
    border-bottom: 0.5px solid #e7e7e7;
    height: initial;
    line-height: normal;
    padding: 0;
    height: 26px;
}

.chatMessage :hover {
    background-color: #f0f2f5;
}

.ant-layout {
    background-color: white;
}
#top-content{
    position:sticky;
    top:0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
    border-bottom: 1px solid #e7e7e7;
}

.lobbySessionTab {
    position: absolute;
    z-index: 4;
    border-right: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #F8F8F8;
    margin-top: 10px;
    padding: 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.chatMessage p{
    margin: 0;
    padding-left: 5px;
}
.roomDragger{
    top:0;
    right:-10px;
    bottom: 0;
    position:absolute;
    background-color:#DFE2E8;
    width:10px;
    z-index:100;
    cursor: ew-resize;
}
.lobby-participant-list .activeBreakoutRoom{
    text-indent: -22px;
    padding: 0 0 0 22px;
}
.collapsedChatDisplay{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.collapsedChatDisplay .userTag{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.collapsedChatDisplay .inlineactions{
}
.activeBreakoutRoom{
    line-height: 1;
    padding: 0;

    font-size: 2.2ex;
    text-overflow: ellipsis;
    /*overflow-y: auto;*/
    overflow:hidden;
}
.smallButton{
    padding: 0;
    margin-left: 5px;
    line-height: 1;
    height: initial;
}
.activeRoomsList .ant-list-item {
    padding-top: 0;
    padding-bottom: 0;
    text-overflow: ellipsis;
}
.chat-unread-count{
    /*height: 1em;*/
}
.personHoverable{
}
.personHoverable:hover{
    background-color: white;
}
#sidepopoutcontainer .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title{
    line-height:1.1;
    height: auto;
}
.chatLink{
    color:#379FFF;
}
.chatLink:hover{
    cursor: pointer;
    color: black;
    background-color: #8cc8ff;
}
.slido{
    height: 500px;
    width: 100%;
}
#sidepopoutcontainer .ant-menu-sub.ant-menu-inline > .ant-menu-item{
    line-height: 1.1;
    height:auto;
}
.dragIconMiddle {
    color: white;
    top: calc(50vh - 20px);
    display: inline-block;
    /*padding: 3px;*/
    right: -10px;
    padding-top: 1px;
    z-index:101;
    font-family: FontAwesome !important;
background-color:#97a7b7;
    font-weight: bold;
    font-size:2em;

    height:40px;
   width: 10px;
    position: absolute;
}
.dragIconMiddle:hover{
    background-color:#138A07;
}
.dragIconTop {
    background-color: #97a7b7;
    top: 25vh;
    right: 3px;
    z-index:101;
    position: absolute;
}
.dragIconBottom {
    background-color: red;
    top: 75vh;
    right: 3px;
    z-index:101;
    position: absolute;
}
.activeRoomsTab{
    /*position:relative;*/
    /*min-width: 10px;*/
}
.activeRoomsSider{
}
.dragIconMiddle svg{
    position: absolute;
    left: -7px;
}
.collapseIcon{
    width: 5px;
    height: 20px;
}
.overflowHelper{
    text-align: right;
}

.dragIconMiddleRight svg{
    position: absolute;
    left: -7px;
}
.dragIconMiddleRight {
    color: white;
    top: calc(50vh - 20px);
    display: inline-block;
    /*padding: 3px;*/
    left: 0px;
    padding-top: 1px;
    z-index:101;
    font-family: FontAwesome !important;
    background-color:#97a7b7;
    font-weight: bold;
    font-size:2em;

    height:40px;
    width: 10px;
    position: absolute;
}
.dragIconMiddleRight:hover{
    background-color:#138A07;
}
.roomDraggerRight{
    top:0;
    left:0;
    bottom: 0;
    position:absolute;
    background-color:#DFE2E8;
    width:10px;
    z-index:100;
    cursor: ew-resize;
}
.chatIdentitySidebar{
    font-weight: bold;
    text-align: center;
}
.chatTab{
    display: flex;
    background-color: #FAFAFA;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-left:10px;
}
.activeRoomsTab{
    position: fixed;
    bottom: 0;
    left: 4px;
    padding-right:10px;
}
.ant-form-inline .ant-form-item,.aclSelector{
    flex: initial;
    flex-wrap: initial;
}
.personFiltered{
}
.chatChannelID{

}
.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
span.availabilityOption{
    display: none;
}
div.availabilityOptionsOpen{
    /*width: 200px;*/
}
div.availabilityOptionsOpen  span.availabilityOption{
    display: inline;
}

#statusForm  .ant-form-item{
    padding: 0;
    margin: 0;
}
#bottom-chat-container {
    /*position: fixed;*/
    /*bottom: 0;*/
    /*height: 25px;*/
}
#bottom-chat-button-bar{
    overflow-x: hidden;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.bottomChatWindowContainer .ant-btn{
    min-width: 100px;
    margin-left: 2px;
    margin-right: 2px;
}

.chatButtonCollapsed{
    text-overflow: ellipsis;
    width: 238px;
    overflow: hidden;
}
.chatButtonExpanded{
    width: 238px;
    overflow: hidden;
}
.embeddedChatFrame{
    background-color: #FAFAFA;
    bottom: 0;
    width: 100%;
    height: 100%;

    flex-direction: column;
    display: flex;
}
.embeddedChatListContainer{
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-wrap: break-word;
    /*position: relative;*/
    /*bottom:40px;*/
    /*max-height: 30px;*/
    flex-grow: 100;
    flex-shrink: 100;
    width: 100%;
    /*position: fixed;*/
    /*bottom: 50px;*/
}
.embeddedChatMessage{
    width: 100%;
    box-sizing: border-box;
}
.bottomChatWindow{
    position:fixed;
    width: 240px;
    height: 400px;
    bottom: 0;
    border: 2px solid #1890FF;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    box-sizing: border-box;
}
.bottomChatWindowCollapsed{
    display: none;
}
.embeddedChatMessageEntry{
    /*position: relative;*/
    /*bottom: 0;*/
    width: 100%;
    flex-grow: 1;
}
.chatMessageContainer{
    flex-direction: column-reverse;
    padding: 5px;
    background-color: #fafafa;
}
.bottomChatHeaderItems{
    display: flex;
}
.bottomChatHeader{
    background-color: #1890FF;

    border-bottom: 1px solid #6666;
    /*flex: 1 1 5%;*/
    flex-grow: 1;
    /*max-height: 2em;*/
}

.highlightedTags > .ant-tag {
    padding-left: 1px;
    padding-right: 1px;
    line-height: 1.1;
    font-size: 0.75em;
}

.userDisplay {
    width: 100%;
}

.userDisplay:hover {
    cursor: pointer;
    background-color: #8cc8ff;
}

.presenceDesc{
}

.bottomEmbeddedChatFrame{
}

.userPopover{
    max-width: 700px;
}

.bottomChatIdentity{
    color: white;
    padding-left: 2px;
    flex-grow: 2;
    font-weight:bolder;
}

.bottomChatClose{
}

.programContainer{
    display: flex;
    flex-direction: column;
}
.program-programDay .day{
    min-width: 100px;
}
.program-programDay .timebands{
    /*display: flex;*/
}
.programContainer .program-programDay{
    display: flex;
    flex-direction: row;
}
.programContainer .sessionTimeBandContainer{
    display: flex;
    flex-direction: row;
}
/*.program-programDay .session{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/
.programContainer .programSession{
    display: flex;
    flex-direction: row;
}
td.ant-table-cell.program-table-date{
    white-space: nowrap;
    vertical-align: top;
}
td.ant-table-cell.program-table-timeBand{
    white-space: nowrap
}
 td.ant-table-cell.program-table-programItem{
    padding: 2px;
}
#sidepopoutcontainer .social-sidebar-divider{
     margin: 0;
    }

span.ant-divider-inner-text {
        color: #0264c1;
    }    

/* For Mobile */
@media screen and (max-width: 540px) {
    .lobby-participant-list {
        column-fill: balance;
        column-count: 2;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 1200px) {
    .lobby-participant-list {
        column-fill: balance;
        column-count: 3;
    }
}

/* For Bigger screens */
@media screen and (min-width: 1200px) {
    .lobby-participant-list {
        column-fill: balance;
        column-count: 3;
    }
}

.lobby-participant-item {
    margin-bottom: 0;
    max-width: 400px;
    min-width: 250px;
    flex: 1;
}

.new-breakout-room-button {
    text-align: center;
    margin-bottom: 20px;
}

.lobby-section-header {
    font-size: 2.0em;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dmButton {
    margin-top: 10px;
    align: center;
    margin-bottom: 3px;
}

.filterOptions .ant-tag-checkable:not(.ant-tag-checkable-checked){
    border: 1px solid #d9d9d9;
}
.programStarNotStarred{
    color: #ffc53d;
}
.programStarNotStarred:hover{
    color: #ffc53d;
    -webkit-filter: drop-shadow( 1px 2px 1px rgba(0, 0, 0, .4));
    filter: drop-shadow( 1px 2px 1px rgba(0, 0, 0, .4));

}
.programStarStarred{
    color: #d48806;
}

.text-indented {
    margin-left: 22px;
    text-indent: -22px;
}
.program-collapse{
}
.program-collapse > .ant-collapse-item > .ant-collapse-header{
    padding-bottom: 0;
    padding-top: 0;
}
.program-collapse > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding-top: 0;
    padding-bottom: 0;
}
.program-session-collapse > .ant-collapse-item > .ant-collapse-header{
    padding-bottom: 0;
    padding-top: 0;
}
.program-session-collapse > .ant-collapse-item > .ant-collapse-content > div.ant-collapse-content-box {
    padding-top: 0;
    padding-bottom: 0;
}
.leave-zoom-button{
    position: absolute;
    right: 0;
}
.multiChatWindow {
    position: fixed;
    /*left: 300px;*/
    /*width: 450px;*/
    bottom: 0;
    overflow: hidden;

    padding-left: 300px;
}
.multiChatWindowHeader{
    background-color: #1890FF;
    color: white;
    font-weight: bold;
    text-align: center;
}

.multiChatWindowContent{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;
}
.multiChatChannelChanger{
    min-width: 100px;
    max-width: 200px;
    flex-grow: 1;
    height: 100%;
}
.multiChatWindowChatArea{
    background-color: #FAFAFA;
    /*width: 100%;*/
    /*height: 100%;*/
    flex-grow: 4;
    height: 100%;

    flex-direction: column;
    display: flex;
}
.multiChatMessageArea{

}
.multiChatMessageEntry{

}
.multiChatWindowFrame{
    background-color: white;
    border: 2px solid #1890FF;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}
.react-resizable {
    position: relative;
}
.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
    background-position: bottom right;
    padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
    transform: rotate(90deg);
}
.react-resizable-handle-se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}
.react-resizable-handle-nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
    transform: rotate(180deg);
}
.react-resizable-handle-ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
    transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
    top: 50%;
    margin-top: -10px;
    cursor: ew-resize;
}
.react-resizable-handle-w {
    left: 0;
    transform: rotate(135deg);
}
.react-resizable-handle-e {
    right: 0;
    transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
    left: 50%;
    margin-left: -10px;
    cursor: ns-resize;
}
.react-resizable-handle-n {
    top: 0;
    transform: rotate(225deg);
}
.react-resizable-handle-s {
    bottom: 0;
    transform: rotate(45deg);
}
.hiddenChat{
    display: none;
}
.visibleChat{
    /*position:fixed;*/
    width: 100%;
    height: 100%;
    bottom: 0;
    border: 2px solid #1890FF;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    box-sizing: border-box;
}
#channelChanger{
    height: 100%;
    overflow-y: auto;
}
#channelChanger .ant-menu-sub.ant-menu-inline > .ant-menu-item{
    line-height: 1.1;
    height:auto;
}
.small-icon-button{

}