@import "bourbon";
@import "./styles/util";

// TODO Actually download a font
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Lato", sans-serif;
}

button {
    border: 1px solid $gray-3;
    background: none;

    color: $gray-3;
    padding: 10%;
    margin: 10%;
    box-sizing: border-box;
}

button:focus {
    outline: solid 2px $color-3;
    outline-offset: 0;
}

*:focus {
    outline: solid 2px $color-3;
    outline-offset: 0;
}
