@import "bourbon";
@import "./styles/util";

// TODO Actually download a font
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$fa-font-path: "../webfonts";

@import "./styles/fontawesome/scss/fontawesome.scss";
@import "./styles/fontawesome/scss/solid.scss";
@import "./styles/fontawesome/scss/regular.scss";

@import "./styles/video-player.scss";

/* Override bourbon when styles build in a different order
 * for development vs. production 
 */
body {
    * {
        font-family: "Lato", sans-serif;
    }

    button,
    input[type=submit],
    .button {
        display      : inline-block;
        border       : 1px solid $gray-1;
        border-radius: 5px;
        background   : none;
        line-height  : 3ex;

        color     : $gray-1;
        padding   : 0.3em;
        margin    : 0%;
        box-sizing: border-box;

        cursor          : pointer;
        background-color: rgba($primary, 0.1);

        &:hover {
            text-decoration : none;
            background-color: $primary;
            color           : #fff;
        }

        &[disabled]:hover,
        &.disabled:hover {
            text-decoration : none;
            background-color: $gray-4;
            color           : $gray-1;
        }

        i {
            padding: 0 0.3em;
        }
    }

    button:focus,
    input[type=submit]:focus,
    .button:focus {
        outline       : solid 2px $color-3;
        outline-offset: 0;
    }

    *>i.fa-star {
        color: rgba(230, 164, 0, 0.788);
    }

    *:hover>i.fa-star {
        color: gold;
    }

    *:focus {
        outline       : solid 2px $color-3;
        outline-offset: 0;
    }

    section.main:focus {
        outline: none;
    }

    .react-toggle {
        margin: 5px 0;
    }

    label {
        span {
            margin: 5px 0.3em;
        }

        .react-toggle {
            vertical-align: middle;
        }
    }

    hr {
        border-color: $gray-5;
        width       : 100%;
    }
}

.splitter-layout>.layout-splitter {
    height          : 6px !important;
    background-color: rgba($primary, 0.6);

    &:hover {
        background-color: rgba($primary, 1);
    }
}

.split {
    position: relative;
    height  : 100%;
    width   : 100%;
    overflow: hidden;

    &>button {
        display         : block;
        position        : absolute;
        left            : 0;
        right           : 0;
        width           : 100%;
        border          : none;
        border-radius   : 0;
        background-color: rgba($secondary, 0.4);
        cursor          : pointer;
        font-size       : mm(2);
        z-index         : 100;
        color           : white;

        &:hover {
            background-color: rgba($secondary, 1);
        }
    }

    &>div {
        width   : 100%;
        height  : 100%;
        overflow: auto;
        padding : 2px;
    }

    &>.embedded-content {

        &>.content-feed {
            margin: 0;
            height: 100%;
        }
    }

    &.top-split {
        padding-bottom: 1.1em;
    }

    &.bottom-split {
        padding-top: 1.1em;
    }

    &.top-split button {
        bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &.bottom-split button {
        top: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.react-toggle-track {
    position: relative;

    i {
        color    : #fcfcfc;
        font-size: 12px;
        margin   : -1px 0 0 0;
        padding  : 0;
    }

    .react-toggle-track-check {
        i {
            margin-left: 0.1em;
        }
    }

    .react-toggle-track-x {
        i {
            margin-left: -0.1em;
        }
    }
}
