@import "../../../styles/util";

.signup {
    margin-top    : 10vh;
    display       : flex;
    flex-direction: column;
    text-align    : center;

    h1 {
        font-size: $font-3xl;
    }

    p {
        margin-top: mm(4);
        color     : $gray-2;
    }
    
    .info {
        text-align: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

        @media only screen and (max-width: $break-sm) {
            width: 100%;
            text-align: justify;
        }
    }

    form {
        display       : flex;
        flex-direction: column;
        width         : 50%;
        margin        : 0 auto;

        @media only screen and (max-width: $break-sm) {
            width    : 90%;
            font-size: 80%;
        }

        .error-message {
            margin-bottom: 2ex;
            color        : $primary;
        }

        input[type=text],
        input[type=email],
        input[type=password] {
            padding      : mm(2) mm(2);
            border-radius: radius(2);
            border       : 2px solid $gray-3;
        }

        input[type=text]:not(:first-child),
        input[type=email]:not(:first-child),
        input[type=password]:not(:first-child) {
            margin-top: mm(2);
        }

        .form-buttons {
            display              : grid;
            grid-template-columns: auto 50px auto;
            grid-template-areas  :
                "sign-up . sign-in"
                "reselect reselect reselect";
            margin: mm(4) auto 0 auto;

            @media only screen and (max-width: $break-sm) {
                width                : 100%;
                grid-template-columns: auto 20px auto;
            }

            .sign-up {
                grid-area: sign-up;

                padding : mm(2) mm(5);
                color           : white;
                background-color: $primary;
                border          : none;
                border-radius   : radius(2);
            }

            .sign-in {
                grid-area: sign-in;
                padding : mm(2) mm(5);
            }

            .select-another {
                margin    : mm(4) auto 0 auto;
                margin-top: mm(4);
                grid-area : reselect;
                width     : 100%;
                padding   : mm(2) mm(5);
            }
        }
    }
}
