@import "../../../styles/util";

.conference-selection-container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    height         : 100vh;

    h1 {
        font-size: $font-4xl;
    }

    .main {
        margin    : auto;
        text-align: center;

        .after-load-content {
            &.after-load-hidden {
                opacity  : 0;
                transform: translateY(mm(8));
            }

            opacity   : 1;
            transform : translateY(0);
            transition : transform 0.5s ease-in-out,
            opacity 0.5s ease-in-out;
        }
    }

    p {
        margin-top: mm(4);
        color     : $gray-2;
    }

    .input-wrapper {
        display       : flex;
        flex-direction: column;

        select {
            width           : 75%;
            background-color: white;
            border          : 2px solid $gray-3;
            border-radius   : radius(2);
            padding         : mm(2) mm(5);
            margin          : 0 auto;
        }

        .join-button {
            display         : block;
            margin          : mm(10) auto 0 auto;
            padding         : mm(2) mm(5);
            color           : white;
            background-color: $primary;
            border          : none;
            border-radius   : radius(2);
        }
    }
}
