@import "../../../styles/util";

.conference-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  h1 {
    font-size: $font-4xl;
  }

  .main {
    margin: 0 auto;
    width: mm(120);
    text-align: center;
  }

  p {
    margin-top: mm(4);
    color: $gray-2;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;

    select {
      width: 75%;
      background-color: white;
      border: 3px solid $gray-3;
      border-radius: radius(2);
      padding: mm(2) mm(5);
      margin: 0 auto;
    }

    .join-button {
      display: block;
      margin: mm(10) auto 0 auto;
      padding: mm(2) mm(5);
      color: white;
      background-color: $primary;
      border: none;
      border-radius: radius(2);
    }

    .join-button-disabled {
      background-color: $gray-2;
    }
  }

  .bottom-links {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: mm(10);
    color: $gray-3;

    .bottom-link {
      color: inherit;
    }

    .dot {
      display: inline-block;
      margin: 0 mm(6);
    }
  }

  @media (min-width: $break-sm) and (max-width: $break-lg - 1) {
    justify-content: start;
    padding-top: mm(10);

    .main {
      width: 100%;
    }

    .input-wrapper {
      flex-direction: row;
      justify-content: center;
      align-items: center;

      select {
        width: 50%;
        height: mm(10);
        margin: 0;
      }

      .join-button {
        margin: 0 0 0 mm(5);
        height: mm(10);
      }
    }
  }
}
