@import "../../../styles/util.scss";

.sponsor-description {
    display  : block;
    font-size: 1.4em;
    margin   : 0.4em 1.5em;
}

.sponsor {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    height        : 100%;
    padding-top   : 1em;

    &__content {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        grid-gap             : 1em;
        margin               : 0 2%;
        flex-shrink          : 1;
        min-width            : 30em;
        width                : 76%;
        height               : min-content;

        @media only screen and (max-width: $break-md) {}

        .content-item {
            border       : 1px $gray-6 solid;
            border-radius: 5px;
            padding      : 1em;
            position     : relative;

            &--wide {
                grid-column: span 2;
            }

            &__buttons {
                background-color: white;
                border-radius   : 5px;
                position        : absolute;
                right           : 0.2em;
                top             : 0.2em;
                z-index         : 100;

                button {
                    border : 0 none;
                    padding: 0;

                }
            }

            .video-player {
                width: 100%;
            }

            &__button {
                display        : flex;
                flex-direction : row;
                align-items    : center;
                justify-content: center;
                height         : 100%;

                button,
                a {
                    padding      : mm(3) mm(5);
                    margin       : 1em;
                    color        : white;
                    border       : none;
                    border-radius: radius(2);
                    font-size    : 1.2em;
                    background   : $dark-primary;

                    &:disabled {
                        background: $gray-4;
                        cursor    : not-allowed;
                    }
                }
            }
        }
    }

    &.no-room {
        .sponsor__content {
            width: 100%;
        }
    }

    &__video-room {
        height   : 100%;
        width    : 20%;
        max-width: 20em;

        @media only screen and (max-width: $break-md) {
            max-width: 100%;
            width    : 100%;
        }
    }
}
