@import "../../../styles/util.scss";

.sponsor-description {
    display  : block;
    font-size: 1.4em;
    margin   : 0.4em 1.5em;
}

.sponsor {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    row-gap       : 1em;
    height        : 100%;
    padding       : 1em 0;

    &__content {
        display              : grid;
        flex-grow            : 5;
        grid-template-columns: 1fr 1fr;
        grid-gap             : 1em;
        margin               : 0 2%;
        flex-shrink          : 1;
        min-width            : 30em;
        height               : min-content;
        flex-basis           : 0;

        @media only screen and (max-width: $break-md) {}

        .content-item {
            position: relative;

            &--wide {
                grid-column: span 2;
                height     : max-content;
            }

            &__buttons {
                background-color: white;
                border-radius   : 5px;
                position        : absolute;
                right           : 0.2em;
                top             : 0.2em;
                z-index         : 100;
                height          : max-content;

                button {
                    border : 0 none;
                    padding: 0;
                }
            }

            &__message {
                text-align: center;
                height    : max-content;
            }

            .video-player {
                width     : 100%;
                margin-top: 1em;
            }

            &__button {
                display        : flex;
                flex-direction : row;
                flex-wrap      : wrap;
                align-items    : stretch;
                justify-content: center;
                height         : 100%;

                button,
                a {
                    padding         : mm(3) mm(5);
                    margin          : 1em;
                    color           : white;
                    border          : none;
                    border-radius   : radius(2);
                    font-size       : 1.1em;
                    background-color: $dark-primary;

                    &:disabled {
                        background: $gray-4;
                        cursor    : not-allowed;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }

            .text-item {
                img {
                    max-width: 100%;
                }
            }
        }
    }

    &.no-room {
        .sponsor__content {
            width: 100%;
        }
    }

    &__video-room {
        height     : 100%;
        min-width  : 20em;
        flex-shrink: 1;
        flex-grow  : 1;
        flex-basis : 0;

        @media only screen and (max-width: $break-md) {
            max-width: 100%;
            width    : 100%;
        }

        .splitter-layout {
            position: static;
        }
    }
}